.container-fluid.c-page{
    padding: 2vh 0 10vh;
    background-image: url("../images/bkg_up-mod2.png");
    background-size: cover;
    z-index: -100;
}
.container.page-content{;
    border-bottom: 1vh solid #29384F;
    margin-bottom: 5vh;
    padding-bottom: 5vh;
    z-index: -100;

}

.container-fluid.content-title-image{
    display: block;
    position: absolute;
    height: 45vh;
    top: 0;
    bottom: 0;
    min-height: 45vh;
    margin-left: 0;
    margin-right: 0;
    width: 100%;

}


.container-fluid.content-title-image.image{
    display: block;
    position: relative;
    top: 0;
    width: 100%;
    background-size: cover;
    z-index: 1;
    opacity: 0.45;
}

.container-fluid.content-title-image.color{
    position: relative;
    top: 0;
    width: 100%;
    background-color: #29384F;

}

.container.content-title{
    position: absolute;
    padding-top: 15vh;
    margin: 0;
    text-align: center;
    font-family: 'Montserrat', Arial, sans-serif;
    font-size: 350%;
    z-index: 10;
    color: #ffffff;
}

.container.content-title.long{
}

@media only screen and (max-device-width: 600px){
    .container.content-title.long{
        font-size: 250%;
    }
}
    .container-fluid.content-body{
    font-family: 'Raleway', sans-serif;
    font-size: 130%;
    text-align: justify;
    padding-top: 7vh;
    padding-bottom: 2vh;

}

.container-fluid.content-contacts{
    font-family: 'Raleway', sans-serif;
    font-size: 130%;
    text-align: center;
    padding-top: 7vh;
    padding-bottom: 2vh;

}

.container-fluid.content-footer{
    font-family: 'Raleway', sans-serif;
    font-size: 130%;

}

.container-fluid.sub-nav{
    margin-top: 2vh;
    margin-bottom: 2vh;
    border-top: 0.5vh solid #29384F;
    border-bottom: 0.5vh solid #29384F;
    padding-top: 1vh;
    padding-bottom: 1vh;
}


.container.row.link-container{
    margin-left: 0;
    margin-right: 0;
}

.btn.btn-outline-primary.btn-large.link-button{
    border-color: #29384F!important;
    border-radius: 0;
    border: 0.5vh solid;
    font-family: 'Raleway', sans-serif;
    font-size: 130%;
    color: #29384F!important;
    width: 30vh;

}
.btn.btn-outline-primary.btn-large.link-button:focus{
    color: white;
    background-color: #29384F!important;
}

.btn.btn-outline-primary.btn-large.link-button:hover{
    color: white!important;
    background-color: #29384F!important;
}

.btn.btn-outline-primary.btn-large.link-button.all-news-btn{
    margin-top: 4vh;
}
.btn.btn-outline-primary.btn-large.link-button.send-msg-btn{
    margin-bottom: 10vh;
    width: 20vw;
}

.container.contacts-text-fields{
}

.container.contacts-mail-field{

}

.container.contacts-message-field{
    margin-top: 5vh;
    margin-bottom: 5vh;

}

.form-control.contacts{
    /* put something here /*

     */
}

.container.contact-type{
    font-family: 'Montserrat', Arial, sans-serif;
    margin-bottom: 1vh;
    color: #29384F;
    text-transform: uppercase;
}
