
.container.page-content{
    margin-top: 5vh;
    margin-bottom: 10vh;
    border-bottom: 1vh solid #29384F;
    padding-bottom: 5vh;
    z-index: -100;

}

.container-fluid.content-title-image{
    display: block;
    position: absolute;
    height: 45vh;
    top: 0;
    bottom: 0;
    min-height: 45vh;
    margin-left: 0;
    margin-right: 0;
    width: 100%;

}


.container-fluid.content-title-image.image{
    display: block;
    position: relative;
    top: 0px;
    width: 100%;
    background-size: cover;
    background-image: url("../location2.jpg");
    z-index: 1;
    opacity: 0.45;
}

.container-fluid.content-title-image.color{
    position: relative;
    top: 0;
    width: 100%;
    background-color: #29384F;

}

.container.content-title{
    position: absolute;
    padding-top: 15vh;
    margin: 0;
    text-align: center;
    font-family: 'Montserrat', Arial, sans-serif;
    font-size: 40pt;
    z-index: 10;
    color: #ffffff;

}

.container-fluid.content-body{
    font-family: 'Raleway', sans-serif;
    font-size: 14pt;
    text-align: justify;

}

.container-fluid.content-footer{
    font-family: 'Raleway', sans-serif;
    font-size: 14pt;

}

.container-fluid.sub-nav{
    margin-top: 2vh;
    margin-bottom: 2vh;
    border-top: 0.5vh solid #29384F;
    border-bottom: 0.5vh solid #29384F;
    padding-top: 1vh;
    padding-bottom: 1vh;
}
