html {
    background: #e6e9e9;
    background-image: linear-gradient(270deg, rgb(230, 233, 233) 0%, rgb(216, 221, 221) 100%);
    -webkit-font-smoothing: antialiased;
}

body {
    background: #fff;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
    color: #545454;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0 auto;
    max-width: 1000px;
    padding: 2em 2em 4em;
}

img {
    animation: colorize 2s cubic-bezier(0, 0, .78, .36) 1;
    background: transparent;
    display: block;
    max-width: 95%;
}

.grid-image{
    animation: colorize 2s cubic-bezier(0, 0, .78, .36) 1;
    background: transparent;
    display: block;
    max-width: 95%;
}

/* Container holding the image and the text */

.top-buffer { margin-top:20px; }

h1{
    font-family: 'Montserrat', Arial, sans-serif;
    font-size: 5em;
    text-align: center;
    
}

.menuLabel{
    color: blue; 
    font-family: 'Montserrat', Arial, sans-serif;
    font-size: 15px;
}


.selected{
    background-color: gray;
    color: white;
}

.conteiner-fluid{
    height: 100%;
    padding-bottom: 0px;
}
.container{
    width: 100%;
    bottom: 15px;
    padding: 0em 0em 0em;
}

.container.img{
    max-width: 100%;
}

.image-grid{
    z-index: 1;
}

/* Bottom left text */
.bottom-left {
    position: absolute;
    bottom: 0px;
    left: 15px;
    width: 95%;
    max-width: 150px;
}

.title{
    color: white; 
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.54);
    font-family: 'Montserrat', Arial, sans-serif;
    font-size: 15px;
    background-color: rgba(0,0,0,0.4);
}

.subText{
    color: white; 
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.54);
    font-family: 'Montserrat', Arial, sans-serif;
    font-size: 5px;
    background-color: rgba(0,0,0,0.4);
}

nav.sub-nav {
  position: relative;
  display: block;
  width: 100%;
  background: #fff;
  border-bottom: 0.5px solid #D3D3D3;
  border-top: 0.5px solid #D3D3D3;
  margin-bottom: 30px;
  text-align: center;
  padding-top: 1px;
  margin-top: -1px; }
  nav.sub-nav ul {
    padding: 0;
    margin: 0;
    margin-top: 3px;
    margin-bottom: 3px; }
    nav.sub-nav ul li {
      display: inline-block;
      margin-right: 10px; }
      @media screen and (max-width: 768px) {
        nav.sub-nav ul li {
          width: 100%;
          clear: both;
          height: 30px; } }
      nav.sub-nav ul li a {
        margin: 0;
        padding-top: 5px;
        padding-bottom: 4px;
        padding-left: 20px;
        padding-right: 20px;
        text-transform: uppercase;
        color: #222222;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        border-radius: 5px;
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        -webkit-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        transition: all 0.3s ease;
        font-size: 9px;
        letter-spacing: 1.71px;
        line-height: 25px;
        font-weight: 400;
        text-decoration: none; }
        @media screen and (max-width: 768px) {
          nav.sub-nav ul li a {
            padding-left: 20%;
            padding-right: 20%; } }
        nav.sub-nav ul li a.active, nav.sub-nav ul li a:hover {
          color: #0E6E43 !important;
          font-weight: 600; }



@keyframes colorize {
    0% {
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
    }
    100% {
        -webkit-filter: grayscale(0%);
        filter: grayscale(0%);
    }
}