
body{
    margin: 0;
    background-color: #C0CFE8;
}

img{
    max-width: 95%;
}

.page-header-bar {
    display: block;
    position: -webkit-sticky;
    position: sticky;
    margin-top: 0;
    top: 0;
    z-index: 100;
    background-color: #29384F;
    width: 100%;
    height: 9vh;
    max-height: 7vh;
}
.container-fluid.main_image{
    display: flex;
    position: relative;
    z-index: 0;
    top: 0px;
    height: 91vh;
    width: 100%;
    margin: 0;
    padding: 0;
    min-height: 93vh;
    opacity: 0.45;
    background-image: url("../test.jpg");
    background-size: cover;
}

.container-fluid.second-image{
    display: flex;
    position: relative;
    z-index: 0;
    top: 0;
    height: 92vh;
    width: 100%;
    margin: 0;
    padding: 0;
    min-height: 93vh;
    opacity: 0.45;
    background-image: url("../business-people-1.jpg");
    background-size: cover;
}

.page-header .navigation{
    margin-top: 0;
    position: relative;
    border-radius: 10px;
    border-color: #dac0ff;
}

.page-header .logo-bar{
    position: relative;
    padding-top: 0;
    border-radius: 10px;
    border-color: beige;

}

.container.home-section{
    padding: 0;
    margin-top: 6vh;
    margin-bottom: 6vh;

}
.container.home-section-title{
    margin: 0;
    left: 0;
    right: 0;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 1vh;
    font-size: 40pt;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    color: #29384F;
}
.container.home-section-content {
    padding-top: 8vh;
    padding-bottom: 8vh;
    border-top: 1vh solid #29384F;
    border-bottom: 1vh solid #29384F;
    font-family: 'Raleway', sans-serif;
    font-size: 14pt;
    text-align: center;
    top: 5vh;
    bottom: 5vh;


}

.container-fluid.mi_background_container{
    margin: 0;
    padding: 0;
    z-index: -1;
    background-color: #29384F;
}

.container-fluid.list-container{
    position: relative;
    height: 45vh;
    max-height: 45vh;
    padding-left: 0;
    padding-right: 0;
    margin: 3vh 0;
    z-index: 0;

}
.container-fluid.list-container.top{
    margin-top: 2vh;
    margin-bottom: 3vh;
    border-top: 0;
    z-index: 0;
}

.container-fluid.list-container.bottom{
    margin-bottom: 2vh;
    margin-top: 3vh;
    border-bottom: 0;
    z-index: 0;
}
.container-fluid.list-background{
    display: block;
    position: absolute;
    height: 45vh;
    top: 0;
    bottom: 0;
    min-height: 45vh;
    margin-left: 0;
    margin-right: 0;
    width: 100%;

}


.container-fluid.list-background.image{
    display: block;
    position: relative;
    top: 0;
    width: 100%;
    background-size: cover;
    margin-left: 0;
    margin-right: 0;
    z-index: 1;
    opacity: 0.45;
}

.container-fluid.list-background.image.news{
    background-image: url("../082616_childsports_THUMB_LARGE.jpg");
}

.container-fluid.list-background.image.service{
    background-image: url("../082616_childsports_THUMB_LARGE.jpg");

}
.container-fluid.list-background.color{
    position: relative;
    top: 0;
    z-index: -1;
    width: 100%;
    background-color: #29384F;

}

.page-footer {
    display: block;;
    position: relative;
    background-color: #29384F;
    bottom: 0;
    width: 100%;
    min-height: 20vh;


}

/* Dropdown menu background color*/

.navbar-nav > li > .dropdown-menu {     background-color: #29384F;  }

/* Dropdown menu font color*/

.navbar-nav > li > .dropdown-menu a{   color: #29384F;  }



.container.list-title.left{
    position: absolute;
    top: 2vh;
    padding-left: 3vh;
    z-index: 2;
    font-family: 'Montserrat', Arial, sans-serif;
    font-size: 40pt;
    text-align: left;
    align-content: right;
    color: #ffffff;
}

.container.list-title.right{
    position: absolute;
    right: 0;
    top: 2vh;
    padding-right: 3vh;
    z-index: 2;
    text-align: right;
    font-family: 'Montserrat', Arial, sans-serif;
    font-size: 40pt;
    color: #ffffff;
}

.container.list-content.left{
    position: absolute;
    top: 20vh;
    padding-left: 3vh;
    padding-right: 20%;
    font-family: 'Raleway', sans-serif;
    text-align: left;
    font-size: 12pt;
    z-index: 3;
    color: #ffffff;
}

.container-fluid.nc-page{
    margin: 0;
    padding: 0;
    background-image: url("../bkg_up-mod2.png");
    background-size: cover;
    z-index: -100;
}
.container.list-content.right{
    position: absolute;
    top: 20vh;
    right: 0;
    padding-right: 3vh;
    padding-left: 20%;
    font-family: 'Raleway', sans-serif;
    text-align: right;
    font-size: 12pt;
    z-index: 3;
    color: #ffffff;
}

.nav-item.my-nav-item{
    padding-left: 2vh;
    padding-right: 2vh;
}
.nav-link.my-nav-link{
    font-family: 'Raleway', sans-serif;
    font-size: 12pt;
    padding-left: 2vh;
    padding-right: 2vh;
}

/* Bottom left text */
.bottom-left {
    position: absolute;
    bottom: 0;
    left: 15px;
    width: 95%;
    max-width: 150px;
}

.title{
    color: white;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.54);
    font-family: 'Montserrat', Arial, sans-serif;
    font-size: 15px;
    background-color: rgba(0,0,0,0.4);
}

.subText{
    color: white;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.54);
    font-family: 'Montserrat', Arial, sans-serif;
    font-size: 10px;
    background-color: rgba(0,0,0,0.4);
}

.nav-link.my-nav-pills.active{
    background-color: #29384F!important;
    color: white!important;
}

.nav-link.my-nav-pills{
    /*border-radius: 0!important;*/
    /*background-color: #29384F!important;*/
    color: #29384F!important;
}

.breadcrumb.oi{
    background-color: white;
    border: 0 solid #29384F;
    border-bottom-width: 0.5vh;
    border-radius: 0;

}

.breadcrumb-item.oi-item{
    font-family: 'Raleway', sans-serif;
    font-size: 10pt;
    color: #29384F;
}

.breadcrumb-item.oi-item.active{
    font-family: 'Raleway', sans-serif;
    font-size: 10pt;
    color: dimgrey;
}

a.oi-item-link{
    color: #29384F!important;

}

.half-right{
    position: relative;
    padding-left: 5vh;
    vertical-align: middle;
}

#map{
    position: relative;
    display: flex;
    width: 60%;
    max-height: 400px;
    min-height: 200px;
    height: 400px;
    left: 0;
}