@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

body{
        font-size: 10pt!important;
        background-color: #C0CFE8;
}

@media only screen and (max-width: 1178px){
    .container-fluid.site-title{
        position: absolute;
        font-family: 'Montserrat Alternates', sans-serif;
        font-size: 600%!important;
        padding: 0;
        text-align: center;
        top: 25vh;
        width: 100vw;
        color: #ffffff;
        z-index: 20;

    }
    .page-footer-links{
        font-size: 120%!important;
    }

}


@media only screen and (max-device-width: 1025px) {
    body {
        font-size: 12pt!important;
        background-color: #C0CFE8;
    }

    .page-footer-links{
        font-size: 135%!important;
    }
}
@media only screen and (max-device-width: 800px) {
    .nav-link.my-nav-link{
        font-family: 'Raleway', sans-serif;
        font-size: 120%!important;
        padding-left: 2vh;
        padding-right: 2vh;
    }
    .nav-link.my-nav-pills{
        /*border-radius: 0!important;*/
        /*background-color: #29384F!important;*/
        font-size: 140%!important;
        color: #29384F!important;
    }
    body {
        font-size: 14pt!important;
        background-color: #C0CFE8;
    }

    .page-footer-links{
        font-size: 140%!important;
    }
}

@media only screen and (max-device-width: 600px) {
    .nav-link.my-nav-link{
        font-family: 'Raleway', sans-serif;
        font-size: 140%!important;
        padding-left: 2vh;
        padding-right: 2vh;
    }

    .page-footer-links{
        font-size: 140%!important;
    }

    .nav-link.my-nav-pills{
        /*border-radius: 0!important;*/
        /*background-color: #29384F!important;*/
        font-size: 160%!important;
        color: #29384F!important;
    }
    body {
        font-size: 21pt!important;
        background-color: #C0CFE8;
    }

    .container.list-title.long.right{
        font-size: 230%;
    }

    .container.list-title.long.left{
        font-size: 230%;
    }


    .container.list-title.left{
        position: absolute;
        top: 2vh;
        padding-left: 3vh;
        z-index: 2;
        font-family: 'Montserrat', Arial, sans-serif;
        font-size: 245%!important;
        text-align: left;
        align-content: right;
        color: #ffffff;
    }

    .container.list-title.right{
        position: absolute;
        right: 0;
        top: 2vh;
        padding-right: 3vh;
        z-index: 2;
        text-align: right;
        font-family: 'Montserrat', Arial, sans-serif;
        font-size: 245%!important;
        color: #ffffff;
    }

    .person-title{
        font-size: 110%!important;%;
    }

    .person-subText{
        font-size: 110%!important;
    }
}
@media only screen and (max-device-width: 450px) {

    .container.list-title.long.right{
        font-size: 210%;
    }

    .container.list-title.long.left{
        font-size: 210%;
    }

    .page-footer-links{
        font-size: 150%!important;
    }

}
img{
    max-width: 95%;
}
    .page-header-bar {
    display: block;
    position: -webkit-sticky;
    position: sticky;
    margin-top: 0;
    top: 0;
    z-index: 100;
    background-color: #29384F;
    width: 100%;
    height: 9vh;
    max-height: 7vh;
}
.container-fluid.main_image{
    display: flex;
    position: relative;
    z-index: 0;
    height: 93vh;
    width: 100%;
    margin: 0;
    padding: 0;
    min-height: 93vh;
    opacity: 0.45;
    background-image: url("../images/test.jpg");
    background-size: cover;
    background-position: center;
}

.container-fluid.second-image{
    display: flex;
    position: relative;
    z-index: 0;
    top: 0;
    height: 92vh;
    width: 100%;
    margin: 0;
    padding: 0;
    min-height: 93vh;
    opacity: 0.45;
    background-image: url("../images/business-people-1.jpg");
    background-size: cover;
}

.page-header .navigation{
    margin-top: 0;
    position: relative;
    border-radius: 10px;
    border-color: #dac0ff;
}

.page-header .logo-bar{
    position: relative;
    padding-top: 0;
    border-radius: 10px;
    border-color: beige;

}

.container.home-section{
    padding: 0;
    /*margin-bottom: 6vh;*/

}
.container.home-section-title{
    margin: 0;
    left: 0;
    right: 0;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 1vh;
    font-size: 320%;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    color: #29384F;
}
.container.home-section-content {
    padding-top: 8vh;
    padding-bottom: 8vh;
    border-top: 1vh solid #29384F;
    /*border-bottom: 1vh solid #29384F;*/
    font-family: 'Raleway', sans-serif;
    font-size: 120%;
    text-align: center;
    top: 5vh;
    bottom: 5vh;


}

.container-fluid.list-container.bottom{
    margin-bottom: 2vh;
    margin-top: 3vh;
    border-bottom: 0;
    z-index: 0;
}

.footer{
    margin-top: 0;
    border-top: 1vh solid #29384F ;
}
.container-fluid.mi_background_container{
    margin: 0;
    padding: 0;
    z-index: -1;
    height: 93vh;
    background-color: #29384F;
}


.container-fluid.list-container{
    position: relative;
    height: 45vh;
    padding-left: 0;
    padding-right: 0;
    margin: 3vh 0;
    z-index: 0;
}

.container-fluid.list-container.top{
    margin-top: 2vh;
    margin-bottom: 3vh;
    border-top: 0;
    z-index: 0;
}

.container-fluid.site-title{
    position: absolute;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 1100%;
    padding: 0;
    text-align: center;
    top: 25vh;
    width: 98vw;
    color: #ffffff;
    z-index: 20;

}

.container-fluid.list-container:hover .container-fluid.list-background.image{
    opacity: 0.2;
}
.container-fluid.list-background{
    display: block;
    position: absolute;
    height: 45vh;
    top: 0;
    bottom: 0;
    min-height: 45vh;
    margin-left: 0;
    margin-right: 0;
    width: 100%;

}


.container-fluid.list-background.image{
    display: block;
    position: relative;
    top: 0;
    width: 100%;
    background-size: cover;
    margin-left: 0;
    margin-right: 0;
    z-index: 1;
    opacity: 0.45;
    transition: opacity linear .2s;

}

.container-fluid.list-background.image.news{
    background-image: url("../images/082616_childsports_THUMB_LARGE.jpg");
}

.container-fluid.list-background.image.service{
    background-image: url("../images/082616_childsports_THUMB_LARGE.jpg");

}
.container-fluid.list-background.color{
    position: relative;
    top: 0;
    z-index: -1;
    width: 100%;
    background-color: #29384F;

}

.page-footer {
    display: block;;
    position: relative;
    background-color: #29384F;
    bottom: 0;
    width: 100%;
    min-height: 20vh;


}

.page-footer-links{
    font-size: 120%;
}
/* Dropdown menu background color*/

.navbar-nav > li > .dropdown-menu {     background-color: #29384F;  }

/* Dropdown menu font color*/

.navbar-nav > li > .dropdown-menu a{   color: #29384F;  }



.container.list-title.left{
    position: absolute;
    top: 2vh;
    padding-left: 3vh;
    z-index: 2;
    font-family: 'Montserrat', Arial, sans-serif;
    font-size: 300%;
    text-align: left;
    align-content: right;
    color: #ffffff;
}

.container.list-title.right{
    position: absolute;
    right: 0;
    top: 2vh;
    padding-right: 3vh;
    z-index: 2;
    text-align: right;
    font-family: 'Montserrat', Arial, sans-serif;
    font-size: 300%;
    color: #ffffff;
}

.container.list-title.long.right{


}

.container.list-title.long.left{

}


.container.list-content.left{
    position: absolute;
    top: 15vh;
    padding-left: 3vh;
    display: none;
    padding-right: 20%;
    font-family: 'Raleway', sans-serif;
    text-align: left;
    font-size: 100%;
    z-index: 3;
    color: #ffffff;
}

.container-fluid.nc-page{
    margin: 0;
    padding: 0;
    background-image: url("../images/bkg_up-mod2.png");
    background-size: cover;
    z-index: -100;
}
.container.list-content.right{
    position: absolute;
    top: 15vh;
    right: 0;
    padding-right: 3vh;
    display: none;
    padding-left: 20%;
    font-family: 'Raleway', sans-serif;
    text-align: right;
    font-size: 100%;
    z-index: 3;
    color: #ffffff;
}

.nav-item.my-nav-item{
    font-size: 120%;
    padding-left: 2vh;
    padding-right: 2vh;
}
.nav-link.my-nav-link{
    font-family: 'Raleway', sans-serif;
    font-size: 100%;
    padding-left: 2vh;
    padding-right: 2vh;
}

/* Bottom left text */
.bottom-left {
    text-align:right;
    position: absolute;
    bottom: 15%;
    right: 10%;
    width: 70%;
    max-width: 1000px;
    padding: 5px;
}

@media (max-width: 800pt) {
    .bottom-left {
        text-align: right;
        position: absolute;
        bottom: 20%;
        right: 10%;
        width: 100%;
        max-width: 1000px;
        padding: 5px;
    }
}

.person-title{
    color: white;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.54);
    font-family: 'Montserrat', Arial, sans-serif;
    font-size: 100%;
    background-color: rgba(0,0,0,0.4);
}

/*@media (max-width: 800pt){
    .title{
        color: white;
        text-shadow: 0 0 5px rgba(0, 0, 0, 0.54);
        font-family: 'Montserrat', Arial, sans-serif;
        font-size: 40px;
        background-color: rgba(0,0,0,0.4);
    }
}*/

.person-subText{
    color: white;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.54);
    font-family: 'Montserrat', Arial, sans-serif;
    font-size: 100%;
    background-color: rgba(0,0,0,0.4);
}

/*@media (max-width: 800pt){
    .subText{
        color: white;
        text-shadow: 0 0 5px rgba(0, 0, 0, 0.54);
        font-family: 'Montserrat', Arial, sans-serif;
        font-size: 40px;
        background-color: rgba(0,0,0,0.4);
    }
}*/

.nav-link.my-nav-pills.active{
    background-color: #29384F!important;
    font-size: 130%;
    color: white!important;
}

.nav-link.my-nav-pills{
    /*border-radius: 0!important;*/
    /*background-color: #29384F!important;*/
    font-size: 130%;
    color: #29384F!important;
}

.breadcrumb.oi{
    margin-top: 2vh;
    background-color: white;
    border: 0 solid #29384F;
    border-bottom-width: 0.5vh;
    border-radius: 0;

}

.breadcrumb-item.oi-item{
    font-family: 'Raleway', sans-serif;
    font-size: 100%;
    color: #29384F;
}

.breadcrumb-item.oi-item.active{
    font-family: 'Raleway', sans-serif;
    font-size: 100%;
    color: dimgrey;
}

a.oi-item-link{
    color: #29384F!important;

}

.half-right{
    position: relative;
    padding-left: 5vh;
    vertical-align: middle;
    font-size: 120%;
}

.skin{
    width: 5%;
    height: auto;
}

#map{
    position: relative;
    display: flex;
    width: 60%;
    max-height: 1000px;
    min-height: 200px;
    height: 400px;
    left: 0;
}

.container.breadcrumb-transition-container{
    margin-top: 2vh;
    padding: 0;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
    background-color: #29384F!important;
    color: white!important;
}

.nav-link.my-nav-pills.dropdown-toggle.service-by-location{
    margin-left: 33vh;
    min-width: 51vh;
    border-radius: 0;
    margin-right: 33vh;
}
.nav-link.my-nav-pills.dropdown-toggle.service-by-location:hover{
    background-color: #29384F!important;
    color: white!important;
    transition: .2s;
}
.dropdown-menu.my-nav-pills.by-location-dropdown.show{
    border-radius: 0;
    top: 0.5vh!important;
    left: 0!important;
    right: 0!important;
    font-size: 130%!important;
    text-align: center!important;
}

.navbar-logo{
    height: 40px;
    padding-left: 2vh;
    padding-right: 2vh;
}

.single-person-section-content {
    padding-top: 8vh;
    padding-bottom: 8vh;
    border-top: 1vh solid #29384F;
    /*border-bottom: 1vh solid #29384F;*/
    font-family: 'Raleway', sans-serif;
    font-size: 120%;
    top: 5vh;
    bottom: 5vh;
}


.contacts-single-person{
    text-align: center;
    margin-top: 10%;
}

.story-single-person{
    text-align: justify;

}

.gap-bottom {
    margin-bottom: 30px;
}

.button-single-person{
    border-color: #29384F!important;
    border-radius: 0;
    border: 0.5vh solid;
    font-family: 'Raleway', sans-serif;
    font-size: 120%;
    color: #29384F!important;
    width: 40vh;
}
.button-single-person:focus{
    color: white;
    background-color: #29384F!important;
}

.button-single-person:hover{
    color: white!important;
    background-color: #29384F!important;
}

section {
    padding: 60px 0;
    background-color: transparent;
}

section .section-title {
    text-align: center;
    color: transparent;
    margin-bottom: 50px;
    text-transform: uppercase;
}
#footer {
    background: transparent;
}
#footer h2{
    padding-left: 10px;
    border-left: 3px solid #eeeeee;
    padding-bottom: 6px;
    margin-bottom: 20px;
    color: #29384F;
    font-size: 170%;
}
#footer a {
    color: #29384F;
    text-decoration: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
#footer ul.social li{
    padding: 3px 0;
}
#footer ul.social li a i {
    margin-right: 5px;
    font-size:25px;
    -webkit-transition: .5s all ease;
    -moz-transition: .5s all ease;
    transition: .5s all ease;
}
#footer ul.social li:hover a i {
    font-size:30px;
    margin-top:-10px;
}
#footer ul.social li a,
#footer ul.quick-links li a{
    color: #29384F;
}
#footer ul.social li a:hover{
    color: #29384F;

}
#footer ul.quick-links li{
    padding: 3px 0;
    -webkit-transition: .5s all ease;
    -moz-transition: .5s all ease;
    transition: .5s all ease;
}
#footer ul.quick-links li:hover{
    padding: 3px 0;
    margin-left:5px;
    font-weight:700;
}
#footer ul.quick-links li a i{
    margin-right: 5px;
}
#footer ul.quick-links li:hover a i {
    font-weight: 700;
}

@media (max-width:767px) {
    #footer h2 {
        padding-left: 0;
        border-left: transparent;
        padding-bottom: 0px;
        margin-bottom: 10px;
    }
}

@media only screen and (max-device-height: 600px){
    .container-fluid.list-container{
        position: relative;
        height: 65vh;
        padding-left: 0;
        padding-right: 0;
        margin: 3vh 0;
        z-index: 0;
    }

    .container-fluid.list-background{
        display: block;
        position: absolute;
        height: 65vh;
        top: 0;
        bottom: 0;
        min-height: 60vh;
        margin-left: 0;
        margin-right: 0;
        width: 100%;

    }

    .container.list-content.right{
        position: absolute;
        top: 25vh;
        right: 0;
        display: none;
        padding-right: 3vh;
        padding-left: 20%;
        font-family: 'Raleway', sans-serif;
        text-align: right;
        font-size: 100%;
        z-index: 3;
        color: #ffffff;
    }

    .container.list-content.left{
        position: absolute;
        top: 25vh;
        padding-left: 3vh;
        display: none;
        padding-right: 20%;
        font-family: 'Raleway', sans-serif;
        text-align: left;
        font-size: 100%;
        z-index: 3;
        color: #ffffff;
    }


}

.image-grid{
    width: 100%;
    height: auto;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    -webkit-transition: all .5s ease-in; /* Safari */
    transition: all .5s ease-in
}

.image-grid:hover{
    -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
    filter: grayscale(0%);
}